@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* color: #222; */
 

}
/* 

.container {
  max-width: 1200px;
  margin: 0 auto;
} */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: rgb(9, 8, 8);
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
 background-color:#4f23e3;

  font-weight: bold;


}

.form{
    margin-top: 10%;
    text-align: center;
    border: #4f23e3;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.3);
}

#Card{
   

    text-align: center;
    left: 30%;
    right: 30%;
    display: flex;
    justify-content: space-around;
    order: 5;
}



#Heading1{
    font-size: 150%;
    
    border-bottom: 6px solid rgb(45, 12, 164);
      color: rgb(10, 10, 10);
  } 









